@import "../../assets/styles/variables.scss";

.project-container {
  background-color: $beige;
  color: $black;  
  font-family: $dmsans;
    padding: 60px 40px 100px;
}
.project-header {
  display: flex;
  justify-content: space-between; 
  align-items: end; 
  padding: 0px 11.5px 20px;
  .project-header__title{
    max-width: 40%;
  }
 .project2-header__title{
  max-width: 70%;
  }
  .project5-header__title{
    max-width: 60%;
    }
  h2 {
    font-size: 64px;
    font-size: 64px;
    font-weight: 500;
    line-height: 70.4px;
  }
  .project-header__number {
    font-size: 96px;
    font-weight: 400;
    line-height: 105.6px;   
    text-align: left;
   
  }
}
.project-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.project-gallery__wrapper {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  .project-gallery__item {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.item_horizontal {
  grid-column: 1 / span 2;
  width: 100%;
  height: auto;
}
.item_vertical {
  grid-column: span 1;
  width: 100%;
  height: auto;
}

.project-article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 80px 40px;

  .project-article__item1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    text-align: left;
    max-width: 65%;
    width: 100%;
  }

  .project4-article__item1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
    padding-top: 40px;
    max-width: 65%;
    width: 100%;
    .project4-article__text   {
       padding: 20px 0;
    }
  }

.project-article__title {
  padding-top: 40px;
  font-size: 36px;
  text-transform: uppercase;
}

.project-article__subtitle{
  padding-top: 40px;
  text-transform: uppercase;
}

  .project-article__item2 {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
    padding-top: 40px;
    p {
      padding: 20px 0;
    }
  }
}

.project-gallery2 {
  display: grid;
  gap: 20px;
}

.project-gallery3 {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.project-gallery3__item {
  width: auto;
  height: auto;
}

.project-gallery4{
  padding-top: 20px;
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.project-team {
  padding: 80px 40px;
}
.project-team__title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}
.project-team__container {
  column-count: 2;

}
.project4-team__container {
  column-count: 1;
  display: flex;
  justify-content: flex-start;
}
.project-team__item {
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-team__item_job {
  padding-bottom: 5px;
  color: $gray;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.4px;
}
.project5-team__item_job{
  padding-bottom: 5px;
  color: $gray;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.4px; 
}
.project-team__item_name {
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.4px;
  text-transform: uppercase;
}

.project-switch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  
}
.project-switch__link{
  position: relative;
    text-decoration: none;
    color: inherit;
}

.project-switch__title {
  padding: 40px 22.5px;
  font-size: 36px;
  max-width: 40%;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  
}

.project-switch__number {
  font-size: 96px;
  font-weight: 400;
  line-height: 105.6px;
  text-align: left;
}
