//project1 posters
.b1 {
  background-image: url("../../assets/images/posters/b1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.b2 {
  background-image: url("../../assets/images/posters/b2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.b3 {
  background-image: url("../../assets/images/posters/b3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.b4 {
  background-image: url("../../assets/images/posters/b4.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.b5 {
  background-image: url("../../assets/images/posters/b5.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.b6 {
  background-image: url("../../assets/images/posters/b6.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.b7 {
  background-image: url("../../assets/images/posters/b7.png");
  background-size: contain;
  background-repeat: no-repeat;
}

//project2 posters
.b8 {
  background-image: url("../../assets/images/posters/b8.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.b9 {
  background-image: url("../../assets/images/posters/b9.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.b10 {
  background-image: url("../../assets/images/posters/b10.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.b11 {
  background-image: url("../../assets/images/posters/b11.png");
  background-size: contain;
  background-repeat: no-repeat;
}

//project5 posters
.b12 {
  background-image: url("../../assets/images/posters/b12.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b13 {
  background-image: url("../../assets/images/posters/b13.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b14 {
  background-image: url("../../assets/images/posters/b14.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b15 {
  background-image: url("../../assets/images/posters/b15.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b16 {
  background-image: url("../../assets/images/posters/b16.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b17 {
  background-image: url("../../assets/images/posters/b17.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b18 {
  background-image: url("../../assets/images/posters/b18.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b19 {
  background-image: url("../../assets/images/posters/b19.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b20 {
  background-image: url("../../assets/images/posters/b20.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b21 {
  background-image: url("../../assets/images/posters/b21.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.b22 {
  background-image: url("../../assets/images/posters/b22.png");
  background-size: contain;
  background-repeat: no-repeat;
}

//project5 posters
.b23 {
  background-image: url("../../assets/images/posters/b23.png");
  background-size: contain;
  background-repeat: no-repeat;
}