* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: #FAF5EE;
    margin: auto;
    padding: 20px 0px 0px;
}

header * {
    width: max-content;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

header *a::after {
    display: block;
    content: "";
    height: 3px; 
    width: 0%; 
    background-color: black;
    transition: width 0.4s ease-in-out; 
}

header *a:hover::after {
    width: 100%;
}

.container {
    min-width: 600px;
    width: 76%;
    display: flex;
    justify-content: space-between;
}

.download {
    font-size: 24px;
}

.logo {

    line-height: 1em;
    font-size: 64px;
}

.links {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1em;
    padding-left: 167px;
    font-size: 36px;
}




