@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$black: #000000;
$gray: #aeaeae;
$black2: rgb(38, 38, 38);
$darkgray: rgb(153, 153, 153);
$beige: rgb(250, 245, 238);
$dmsans: "DM Sans", sans-serif;
