@import "../../assets/styles/variables.scss";

.container {
    font-family: $dmsans;
    background-color: $beige;
    color: $black;
    padding: 60px 192px 100px;
}

.header{
    .function {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
    
}

    .hello {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 110%;        
        padding: 20px 0 40px;
    }
}
.mainsection{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 187px;

    .image {
        max-width: 254px;
        }
}

.paragraph{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;     
}

p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 20px;
}


.media {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    border: 1px solid #000000;
}

.medianame {
    font-family: $nonBold;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.link {
    padding-top: 20px;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;
    color: $black;
    text-decoration: none;
    transition: 0.3s all;

    &:hover {
        color: $gray;
    }
  }