@import "../../assets/styles/variables.scss";

.container {
    display: flex;
    color: $black;
    flex-direction: column;
    margin-left: 200px;
    font-family: $nonBold;
    margin-bottom: 80px;
}

.about {
    display: flex;
    align-items: center;
}

.function {
    font-size: medium;
    font-weight: bold;
}

.hello {
    font-size: xx-large;
    font-weight: bold;
    margin-right: 250px;
}

.text {
    width: 30%;
    font-size: larger;
}

.image {
margin-left: 320px;
}


.aboutme {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.aboutmeleft {
    width: 40%;
    font-size: x-large;
    font-weight: bold;
}
.aboutmeright {
    margin-left: 150px;
    width: 30%;
    font-size: large;
}

.aboutmecenter {
    margin-top: 100px;
    font-size: x-large;
    font-weight: bold;
    width: 78%;
}

.media {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.medianame {
    font-size: xx-large;
    font-weight: bolder;
}

.link {
    display: block;
    font-size: x-large;
    margin-top: 10px;
    color: $black;
    text-decoration: none;

    &:hover {
        color: $gray;
    }
  }